body{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 45vh;
    margin: 0;
    padding: 0;
    background-image: url(/kepek/pizzakep.jpg);
    background-position: center;
    background-size: cover;
}

header{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}


.leiras{
    height: 35vh;
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
}

.leirasnagycim{
    position: absolute;
    top: 53%;
    right: 65%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

    
}

.leiraskicsi{
    position: absolute;
    top: 57%;
    right: 65%;
    font-size: 18px;
    color: rgb(158, 158, 158);
}

.leiraszoveg{
    position: absolute;
    top: 53%;
    margin-left: 38%;
    margin-right: 18%;
    color: rgb(179, 179, 179);
    font-size: 1.2em;
}

.telefon{
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 70%;
    font-size: 20px;
    right: 36%;
    
}


.spec{
    height: 80vh;
    background-color: rgb(34, 34, 34);
    color: white;
    
}

.speccim{
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 60px;
}

.specalcim{
    text-align: center;
    font-size: 20px;
    color: rgb(158, 158, 158);
}
.menuleiras{
    height: 40vh;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 1.2em;
    
}

.menucim{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    
}

.menualcim{
    color: rgb(158, 158, 158);
    font-size: 20px;
}

.menuszoveg{
    margin-left: 25%;
    margin-right: 25%;
    color: rgb(201, 201, 201);
}

.pizzeria{
    position: absolute;
    top: 2%;
    left: 3%;
    color: white;
    font-weight: bold;
    
}

.kezdolap{
    position: absolute;
    top: 2%;
    right: 25%;
    color: white;
    font-size: 0.7em;
    text-transform: uppercase;  
    
}

.kezdolap:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.menu{
    position: absolute;
    top: 2%;
    right: 20%;
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.7em;
    text-transform: uppercase;
    
}

.menu:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.rolunk{
    position: absolute;
    top: 2%;
    right: 13%;
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.7em;
    text-transform: uppercase;
    
}

.rolunk:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.kapcsolat{
    position: absolute;
    top: 2%;
    right: 4%;
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.7em;
    text-transform: uppercase;
}

.kapcsolat:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}