body{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 45vh;
    margin: 0;
    padding: 0;
    background-image: url(/kepek/pizzakep.jpg);
    background-position: center;
    background-size: cover;
}

header{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu:visited, .rolunk:visited, .kapcsolat:visited{
    color: rgb(210, 210, 210);
}

a{
    text-decoration: none;
}

.headercim{
    display: flex;
    justify-content: right;
    gap: 1%;
    padding-top: 2%;
}

.cuccok{
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 5%;
}

.pizza{
    text-transform: uppercase;
    border: 1px solid white;
    padding: 1% 3% 1% 3%;
}
 
.pizza:hover{
    background-color: rgb(255, 255, 0, 0.5);
}
 
.menü{
    text-transform: uppercase;
    border: 1px solid white;
    padding: 1% 4% 1% 4%;
}
 
.menü:hover{
    background-color: rgb(255, 255, 0, 0.5);
}
 
.italok{
    text-transform: uppercase;
    border: 1px solid white;
    padding: 1% 3% 1% 3%;
}
 
.italok:hover{
    background-color: rgb(255, 255, 0, 0.5);
}


.leiras{
    height: 35vh;
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
}

.leirasnagycim{
    position: absolute;
    top: 53%;
    right: 65%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

    
}

.leiraskicsi{
    position: absolute;
    top: 57%;
    right: 65%;
    font-size: 18px;
    color: rgb(158, 158, 158);
}

.leiraszoveg{
    position: absolute;
    top: 53%;
    margin-left: 38%;
    margin-right: 18%;
    color: rgb(179, 179, 179);
    font-size: 1.2em;
}

.telefon{
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    margin-top: 3%;
    color: white;
    
}


.spec{
    height: auto;
    background-color: rgb(34, 34, 34);
    color: white;
    
}

.speccim{
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 60px;
}

.specalcim{
    text-align: center;
    font-size: 20px;
    color: rgb(158, 158, 158);
}
.menuleiras{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 1.2em;
    padding-bottom: 10%;
    
}

.menucim{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    
}

.menualcim{
    color: rgb(158, 158, 158);
    font-size: 20px;
}

.menuszoveg{
    margin-left: 25%;
    margin-right: 25%;
    color: rgb(201, 201, 201);
}

.pizzeria{
    position: absolute;
    left: 5%;
    color: white;
    font-weight: bold;
    
}

.kezdolap{
    color: white;
    font-size: 0.7em;
    text-transform: uppercase;  
    
}

.kezdolap:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.menu{
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.7em;
    text-transform: uppercase;
    
}

.menu:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.rolunk{
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.7em;
    text-transform: uppercase;
    
}

.rolunk:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.kapcsolat{
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.7em;
    text-transform: uppercase;
}

.kapcsolat:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.speckepek{
    display: grid;
    width: 60%;
    margin: auto;
    margin-top: 3%;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "pizzaa pizzaa voros"
    "pizzaa pizzaa voros"
    "vegyes pizzaaa voros"
    "vegyes pizzaaa voros"
    "vegyes pizzaaa voros"
    "vegyes pizzaaa elo"
    ;
}

.speckepek img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pizzaa{grid-area: pizzaa;}
.pizzaaa{grid-area: pizzaaa;height: 55%;}
.vegyes{grid-area: vegyes;height: 55%;}
.voros{grid-area: voros;}
.elo{grid-area: elo;height: 50%;}

.pizzaa p{
    position: relative;
    bottom: 14%;
    left: 46%;
    font-size: 1.3em;
}

.pizzaaa p{
    position: relative;
    bottom: 20%;
    left: 42%;
    font-size: 1.3em;
}

.vegyes p{
    position: relative;
    bottom: 20%;
    left: 4%;
    font-size: 1.1em;
}

.voros p{
    position: relative;
    bottom: 12%;
    left: 6%;
    font-size: 1.2em;
    
}

.elo p{
    position: relative;
    bottom: 22%;
    left: 40%;
    font-size: 1.1em;
}

footer{
    background-color: black;
    color: white;
    display: flex;
}

.nyitvatartás{
    width: 20%;
    padding: 15px;
    font-size: 16px;
    margin-left: 4%;
    margin-top: 4%;
}

.nyitva{
    text-align: center;
    text-transform: uppercase;
    width: 15%;
}

.footcim{
    text-transform: uppercase;
    width: 35%;
    padding-top: 5%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px 0;
    border-bottom: 1px solid #333;
    color: rgb(255, 255, 255, 0.7);
  }
  
  .row:last-child {
    border-bottom: none;
  }