body{
    margin: 0;
    padding: 0;
}

header{
    height: 45vh;
    margin: 0;
    padding: 0;
    background-image: url(/kepek/pizzakep.jpg);
    background-position: center;
    background-size: cover;
}

header{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

.headercim{
    display: flex;
    justify-content: right;
    gap: 1%;
    padding-top: 2%;
    padding-right: 3%;
}

.cuccok{
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 5%;
}

.pizza{
    text-transform: uppercase;
    border: 1px solid white;
    padding: 1% 3% 1% 3%;
}
 
.pizza:hover{
    background-color: rgb(255, 255, 0, 0.5);
}
 
.menü{
    text-transform: uppercase;
    border: 1px solid white;
    padding: 1% 4% 1% 4%;
}
 
.menü:hover{
    background-color: rgb(255, 255, 0, 0.5);
}
 
.italok{
    text-transform: uppercase;
    border: 1px solid white;
    padding: 1% 3% 1% 3%;
}
 
.italok:hover{
    background-color: rgb(255, 255, 0, 0.5);
}


.leiras{
    height: 35vh;
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
}

.leirasnagycim{
    position: absolute;
    top: 53%;
    right: 65%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

    
}

.leiraskicsi{
    position: absolute;
    top: 57%;
    right: 65%;
    font-size: 18px;
    color: rgb(158, 158, 158);
}

.leiraszoveg{
    position: absolute;
    top: 53%;
    margin-left: 38%;
    margin-right: 18%;
    color: rgb(179, 179, 179);
    font-size: 1.2rem;
}

.telefon{
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    margin-top: 3%;
    color: white;
    
}


.spec{
    height: auto;
    background-color: rgb(34, 34, 34);
    color: white;
    
}

.speccim{
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 60px;
}

.specalcim{
    text-align: center;
    font-size: 20px;
    color: rgb(158, 158, 158);
}
.menuleiras{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 1.2rem;
    padding-bottom: 10%;
    
}

.menucim{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    
}

.menualcim{
    color: rgb(158, 158, 158);
    font-size: 20px;
}

.menuszoveg{
    margin-left: 25%;
    margin-right: 25%;
    color: rgb(201, 201, 201);
}

.pizzeria{
    position: absolute;
    left: 5%;
    color: white;
    font-weight: bold;
    
}

.kezdolap{
    color: white;
    font-size: 0.7em;
    text-transform: uppercase;  
    
}

.kezdolap:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.menu{
    color:   rgb(255, 255, 255, 0.7);
    font-size: 0.7em;
    text-transform: uppercase;
    
}

.menu:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.rolunk{
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.7em;
    text-transform: uppercase;
    
}

.rolunk:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.kapcsolat{
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.7em;
    text-transform: uppercase;
}

.kapcsolat:hover{
    background-color: rgb(255, 255, 0, 0.5) ;
}

.speckepek{
    display: grid;
    width: 60%;
    margin: auto;
    margin-top: 3%;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "pizzaa pizzaa voros"
    "pizzaa pizzaa voros"
    "vegyes pizzaaa voros"
    "vegyes pizzaaa voros"
    "vegyes pizzaaa elo"
    ;
}

.speckepek img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pizzaa{grid-area: pizzaa;position: relative;}
.pizzaaa{grid-area: pizzaaa;height: 55%;position: relative;}
.vegyes{grid-area: vegyes;height: 55%;position: relative;}
.voros{grid-area: voros;position: relative;}
.elo{grid-area: elo;height: 54%;position: relative;}

.pizzaa p, .vegyes p, .voros p, .elo p, .pizzaaa p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}


footer{
    background-color: black;
    color: white;
    display: flex;
}

.nyitvatartás{
    width: 20%;
    padding: 15px;
    font-size: 16px;
    margin-left: 4%;
    margin-top: 4%;
}

.nyitva{
    text-align: center;
    text-transform: uppercase;
    width: 15%;
    font-weight: bold;
}

.footcim{
    text-transform: uppercase;
    width: 35%;
    padding-top: 5%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px 0;
    border-bottom: 1px solid #333;
    color: rgb(255, 255, 255, 0.7);
  }
  
  .row:last-child {
    border-bottom: none;
  }

  .jobbfoot{
    margin-top: 4%;
    width: 15%;
    padding: 1%;
    line-height: 1.5;
  }

  .footnagy{
    text-transform: uppercase;
    font-weight: bold;
  }

  .foglalas{
    font-weight: bold;
    text-decoration: underline;
  }

  .footszoveg{
    color: rgb(255, 255, 255, 0.7);
  }

  hr{
    width: 60%;
    height: 1px;
    border: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: rgb(255, 255, 255, 0.7);
  }

  .footszovegg{
    background-color: black;
    padding-top: 5%;
    color: rgb(255, 255, 255, 0.7);
    text-align: center;
    padding-bottom: 3%;
  }

  .alahuzott{
    text-decoration: underline;
  }

  .footerplusz p{
    margin-top: 3%;
    margin-bottom: 0;
  }

  .headercim li::after {
  content: "/";
  position: absolute;
  right: 0;
  color: #ccc;
}

.menu li:last-child::after {
  content: "";
}


  @media (max-width: 900px){
    .leiraszoveg{ font-size: 1.1rem; margin-right: 5%; }
    .menuszoveg{margin-left: 10%; margin-right: 10%;}
    .pizzaa p, .vegyes p, .voros p, .elo p, .pizzaaa p{font-size: 1rem; padding-bottom: 5%;}
    .jobbfoot{line-height: 1.2;}
    .kezdolap, .menu, .rolunk, .kapcsolat{align-items: center;}
  }

@media (max-width: 665px){
   .leirasnagycim{font-size: 1.3rem;}
}


@media (max-width: 580px){
    .leirasnagycim{font-size: 1.2rem;}
    .leiraszoveg{font-size: 1rem; margin-right: 3%;}
}

@media (max-width:600px){
    .telefon{font-size: 1.2rem;}
}

@media (max-width: 550px){
    .leirasnagycim{top: 47%; right: 3%; font-size: 1.7rem;}
    .leiraskicsi{top: 50%; right: 5%; font-size: 1.3rem;}
    .leiraszoveg{margin-left: 5%; font-size: 1.2rem;}
    .telefon{font-size: 1.4rem;}
   }